* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.one {
    background-image: url(../images/navbar.png);
    background-color: black;
    background-size: cover;
    height: 100svh;
    background-position: center;

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
    }

    div .button button {
        background-color: #FF3C8A;
    }

    .content {

        h1 {
            font-size: 90px;
        }

        button {
            height: 55px;
            background-color: #FF3C8A;
            border: 1px solid #FF3C8A;
        }
    }
}

/* -------------------------- */

.two {
    margin-top: 200px;

    .all {
        div {
            h1 {
                color: #3C89D2;
            }
        }
    }

    .welcome {

        h1 {
            font-size: 70px;
            width: 90%;
        }

        p {
            width: 80%;
            padding-bottom: 100px;
        }

        button {
            background-color: #FF3C8A;
            border: 1px solid #FF3C8A;
        }
    }

    .image {
        background-color: #EB4E89;
        border-radius: 50% 50% 20% 20% !important;


        img {
            margin-top: 80px !important;
            width: 60% !important;
        }
    }

    .missions {
        .mission {
            height: 30svh;

            .our {
                font-size: 60px;
            }
        }

    }
}

.three {
    margin-top: 150px;

    h1 {
        color: #3C89D2;
    }

    .offers .offer {
        border: 1px solid #fafafa;
        background-color: #f9f3f3;
        height: 35svh;
    }

    .but {
        button {
            background-color: #EB4E89;
            height: 6svh;
        }
    }
}


/* ---------- */
@media screen and (max-width: 1200px) {
    .one .content h1 {
        font-size: 50px;
    }

    .two .all {
        margin-top: -80px;

        .welcome {
            h1 {
                font-size: 40px;
            }

            p {
                width: 90%;
            }
        }

        .image {
            height: 50svh !important;

            img {
                margin-top: 52px !important;

            }
        }

        .missions {
            width: 80%;

            .mission {
                
                h1 {
                    font-size: 60px;
                }

                p {
                    margin-top: -30px;
                    font-size: 20px !important;
                }
            }

            .achives {
                margin-top: 0 !important;
                .achive {
                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    /* .one .content h1 {
        width: 80% !important;
    } */

    .two .all {
        width: 100%;
        .image {
            margin-top: 50px;
            /* width: 100%; */
            text-align: center;

            img {
                height: 45svh;
            }
        }
    }

    .two .all .missions{
        margin: 0;
        .achives .achive{
            h1{
                font-size: 50px !important;
                margin-top: -60px !important;
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .one {
        .button button {
            display: none;
        }

        .top .links {
            margin-inline: auto;
        }

        .top .main {
            margin-top: 20px;
            margin-inline: auto;

            a {
                font-size: 30px;
                text-decoration: underline;
            }
        }

        .content h1 {
            font-size: 35px !important;
            width: 86% !important;
            margin-top: 100px;
        }

        .content p {
            font-size: 20px !important;
            width: 70% !important;
        }

        .content button {
            width: 80% !important;
            margin-left: 30px;
        }
    }

    .two {
        .all {
            display: grid !important;
            grid-template-columns: 1fr;
        }

        .image {
            display: none;
        }

        .welcome {
            margin-top: -80px;
            h1 {
                width: 100%;
            }
        }

        .missions {
            width: 100% !important;
            margin-top: 40px;
            

            .mission {
                height: 20svh;
                h1 {
                    font-size: 40px !important;
                }
                p{
                    margin-top: 0 !important;
                }
            }

            .achives {
                display: grid !important;
                grid-template-columns: 1fr 1fr;

                h1{
                    font-size: 40px !important;
                }
            }



        }
    }

    .three {
        margin-top: 50px;
        h1 {
            margin-left: 35px;
            margin-right: 35px;

        }

        .offers {
            margin-left: 10px;
            margin-right: 10px;
        }

        button{
            width: 50% !important;
        }
    }
}

@media screen and (max-width: 320px) {
    .one {
        height: 80svh;
        .overlay{
            height: 80svh !important;
        }
        .top {
            .links {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .content {
            h1 {
                margin-top: 0;
                font-size: 25px !important;
            }

            p {
                font-size: 18px !important;
            }

            button {
                height: 15%;
            }
        }
    }

    .two .all{
        .mission{
            height: 25svh;
        }

    }

}