* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one {

    background-color: rgba(0, 0, 0, 0.8);

    button {
        background-color: #3C89D2;
    }
}

.two {
    background-color: #3C89D2;
    height: 300px;

    .content {

        h1 {
            padding-top: 100px;
            font-size: 60px;
            color: aliceblue;
        }

        div {

            display: flex;
            gap: 5px;
            margin-left: 50%;
        }

    }
}

.three {
    h2 {
        color: #3C89D2;
    }

    .courses {
        display: grid;
        grid-template-columns: 2fr 2fr;

        .course {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #e6eff8;

            a {
                color: #3C89D2;
            }
        }

    }
}

.four {
    margin-top: 100px;
    background-color: #3C89D2;

    .contact-us {
        min-height: 500px;
        color: #fafafa;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social {
        margin-top: 100px;

        p {
            margin-top: 30px;
        }

        .svgs {
            margin-top: 10px;

            svg {
                margin-right: 5px;
            }
        }
    }

    .quick {
        margin-top: 100px;

        h2 {
            margin-bottom: 40px;
        }
    }

    .course {
        margin-top: 100px;

        h2 {
            margin-bottom: 40px;
        }
    }
}

/* index-3 */
.science {
    margin-top: 150px;

    .detail {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .about {

            .rate {
                display: flex;
            }

            .times {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border-bottom: 1px solid rgb(174, 172, 172);

                .time {
                    display: flex;


                }
            }
        }

        .purble {
            background-color: #3C89D2;
        }

        .grey {
            background-color: #F2F2F2;
        }

        .price {
            height: 55%;
            background-color: #e6eff8;
            .free {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }

            button {
                background-color: #3C89D2;
                margin-left: 60px !important;
            }

            .dit {
                display: grid;
                grid-template-columns: 4fr 2fr;
            }

        }
    }
}







/* ---media-guery--- */
@media screen and (max-width: 1024px) {
    .science{
        .detail{
            display: grid;
            grid-template-columns: 1fr;

            .price{
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: white;

                img{
                    height: 90%;
                    margin-top: 15px;
                }

                button{
                    margin-left: 60px !important;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .one {
        height: 100px;

        .top button {
            display: none;
        }
    }

    .two{
        .content{
            div{
                margin-left:38%;
            }
        }
    }

    .three {
        .courses {
            .course {
                margin: 0 !important;
                display: grid;
                grid-template-columns: 1fr;

                div {
                    margin-left: 20px;
                }
            }
        }
    }

    .four {
        .social {
            p {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 450px) {
    .one {
        height: 130px;

        .top .main {
            margin-top: 10px;
            margin-left: 22%;

            a {
                font-size: 30px;
                text-decoration: underline;
            }
        }
    }

    .two{
        .content{
            div{
                margin-left: 29%;
            }
        }
    }

    .three {
        .courses {
            display: grid;
            grid-template-columns: 1fr;

            .course {
                div {
                    margin-left: 10px;

                }

                img {
                    margin-left: 50px !important;
                    margin-top: 20px;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .four {
        .contact-us {
            display: grid;
            grid-template-columns: 2fr;

            .social {
                h2 {
                    text-align: center;
                }
            }

            .quick {
                margin-top: 0;

                h2 {
                    text-align: center;
                }
            }

            .course {
                margin-top: 0;

                h2 {
                    text-align: center;
                }
            }
        }
    }

    .science{
        .detail{
            .price{
                display: grid !important;
                grid-template-columns: 1fr;
                .dit{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .one {
        height: 200px;

        .top .links {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .science{
        .detail{
            .about{
                .times{
                    display: grid;
                    grid-template-columns: 1fr;
                }

                .buttons{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .price{
                button{
                    margin-left: 50px !important;
                }
            }
        }
    }

}

@media screen and (max-width: 320px) {
    .one {
        .top {
            .links {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-inline: auto;
            }

            .main {
                margin-left: auto;
                margin-right: auto;

                a {
                    font-size: 35px !important;
                }
            }
        }
    }

    .science{
        .detail{
            .price{
                button{
                    margin-left: 40px !important;
                }
            }
        }
    }

}