* {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
}

.two {
    background-color: rgb(237, 65, 131, 0.6);
    height: 300px;

    .content {

        h1 {
            padding-top: 100px;
            font-size: 60px;
            color: aliceblue;
        }

        div {

            display: flex;
            gap: 5px;
            margin-left: 50%;
        }

    }
}

.about-us {
    margin-top: 150px;

    .page {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .experince {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        span {
            color: #EB4E89;
        }

        .details {
            display: grid;
            grid-template-columns: 1fr 1fr;

            a {
                background-color: #EB4E89;
                color: aliceblue;
            }
        }
    }
}

.seven {
    margin-top: 100px;

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #EB4E89;
        height: 500px;
    }

    h1 {
        color: #fafafa;
        margin-top: 150px;
    }

    input {
        height: 35%;
        background-color: #fafafa;
    }


    .inputs {
        margin-top: -80px;
    }

    button {
        height: 35%;
        color: #fafafa;
        background-color: #3C89D2;
    }

}

.eight {
    background-color: #3C89D2;

    .contact-us {
        min-height: 500px;
        color: #fafafa;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social {
        margin-top: 100px;

        p {
            margin-top: 30px;
        }

        .svgs {
            margin-top: 10px;

            svg {
                margin-right: 5px;
            }
        }
    }

    .quick {
        margin-top: 100px;

        h2 {
            margin-bottom: 40px;
        }
    }

    .course {
        margin-top: 100px;

        h2 {
            margin-bottom: 40px;
        }
    }
}

/* ----------media-query-------------- */

@media (max-width: 768px) {

    .two{
        .content{
            margin-right: 100px;
        }
    }
    .about-us{
        margin-top: 50px;
        .page{
            .experince{
                margin-right: 20px;
                .two{
                    margin-left: 20px;
                    margin-top: -30px;
                    width: 80% !important;
                }
            }
            a{
                width: 100% !important;
            }
        }
    }
    .seven {
        h1 {
            width: 70% !important;
            margin-bottom: 0px;
        }
    }

    .eight {
        .social {
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width: 450px) {
    .about-us{
        .page{
            display: grid;
            grid-template-columns: 1fr;

            .experince{
                text-align: center;
            }

            .words{
                margin-top: -50px !important;

                .details{
                    .mission{

                        p{
                            width: 80%;
                        }
                    }
                }
            }

            
        }
    }
    .seven {
        .inputs {
            display: grid;
            grid-template-columns: 1fr;

            input {
                width: 100% !important;
                height: 60%;
            }

            button {
                width: 80%;
                height: 60%;
                margin-inline: auto !important;
                margin-top: -30px !important;
            }
        }
    }

    .eight {
        .contact-us {
            display: grid;
            grid-template-columns: 2fr;

            .social {
                h2 {
                    text-align: center;
                }
            }

            .quick {
                margin-top: 0;

                h2 {
                    text-align: center;
                }
            }

            .course {
                margin-top: 0;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 380px) {

    .about-us{
        margin-top: -10px;
        .page{
            .experince{
                display: grid;
                grid-template-columns: 1fr;

                .three{
                    width: 100%;
                    border-radius: 50%;
                    margin-bottom: 20px;
                }

                .two{
                    display: none;
                }

                .one{
                    border-radius: 50%;
                    width: 40% !important;
                    margin-top: -150px;
                }
            }

            .words{
                h1{
                    width: 100% !important;
                }
            }
        }
    }
}
