* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.one {
    background-image: url(../images/navbar.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        min-height: 100%;
    }

    div .button button {
        background-color: #FF3C8A;
    }

    .content {

        h1 {
            font-size: 90px;
        }

        button {
            height: 55px;
            background-color: #FF3C8A;
            border: 1px solid #FF3C8A;
        }
    }
}

/* -------------------------- */

.two {
    margin-top: 200px;

    .all {
        div {
            h1 {
                color: #3C89D2;
            }
        }
    }

    .welcome {

        h1 {
            font-size: 70px;
            width: 90%;
        }

        p {
            width: 80%;
            padding-bottom: 100px;
        }

        button {
            background-color: #FF3C8A;
            border: 1px solid #FF3C8A;
        }
    }

    .image {
        background-color: #EB4E89;
        border-radius: 50% 50% 20% 20% !important;


        img {
            margin-top: 50px;
            width: 80% !important;
        }
    }

    .missions {
        .mission {
            .our {
                font-size: 60px;
            }
        }

    }
}

.three {
    margin-top: 150px;

    h1 {
        color: #3C89D2;
    }

    .offers .offer {
        border: 1px solid #fafafa;
        background-color: #f9f3f3;
    }

    .but {
        button {
            background-color: #EB4E89;
            font-size: 20px;
        }
    }
}

.four {
    margin-top: 100px;

    h2 {
        color: #3C89D2;
    }

    .courses {
        .course {
            margin-top: 50px;
            border: 0px;

            a {
                color: #3C89D2;
            }
        }

        .course img {
            height: 200px;
        }
    }
}

.five {
    margin-top: 100px;

    h1 {
        color: #3C89D2;
    }

    .names {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .name {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: #fff7f7;

            h3 {
                width: 170%;
            }

            p {
                width: 149%;
            }
        }
    }
}


/* ---------- */
@media screen and (max-width: 1440px) {
    .one {
        a {
            font-size: 35px;
        }

        button {
            font-size: 30px;
            height: 70px !important;
        }

    }

    .two {
        .image {
            height: 40svh;

            img {
                margin-top: 70px;
            }
        }
    }

    .three {
        .but button {
            font-size: 35px;
        }
    }

    .four {
        .courses .course img {
            height: 20svh !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .one .content h1 {
        font-size: 50px;
    }

    .two .all {
        margin-top: -80px;

        .welcome {
            h1 {
                font-size: 40px;
            }

            p {
                width: 90%;
            }
        }

        .image {
            height: 30%;

            img {
                margin-top: 110px !important;

            }
        }

        .missions {
            width: 80%;

            .mission {

                h1 {
                    font-size: 60px;
                }

                p {
                    margin-top: -30px;
                    font-size: 20px !important;
                }
            }

            .achives {
                .achive {
                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }

    .four {
        .courses .course img {
            height: 200px !important;
        }
    }
}

@media (max-width: 768px) {
    .top .button {
        margin-inline: auto;
    }

    .content button {
        font-size: 20px;
    }

    .two .all {
        width: 100%;

        .image {
            text-align: center;

            img {
                margin-top: 43px !important;
            }
        }
    }

    .two .all .missions {
        margin: 0;

        .achives .achive {
            h1 {
                font-size: 50px !important;
            }
        }
    }

    .three .offers .offer {
        h3 {
            margin-top: 20px;
        }
    }

    .but button {
        font-size: 30px !important;
        width: 40% !important;
    }

    .four {
        .courses {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .course {
                min-height: 21px !important;
                width: 100%;

                img {
                    margin-bottom: 10px;
                }

                a {
                    font-size: 28px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .one {
        .button button {
            display: none;
        }

        .top {
            margin-inline: auto;
        }

        .top .links {
            margin-inline: auto;
        }

        .top .main {
            margin-top: 10px;
            margin-left: 22%;

            a {
                font-size: 30px;
                text-decoration: underline;
            }
        }

        .content h1 {
            font-size: 35px !important;
            width: 86% !important;

        }

        .content p {
            font-size: 20px !important;
            width: 70% !important;
        }

        .content button {
            width: 80% !important;
            margin-left: 30px;
        }
    }

    .two {
        .all {
            display: grid !important;
            grid-template-columns: 1fr;
        }

        .image {
            display: none;
        }

        .welcome {
            margin-top: -80px;

            h1 {
                width: 100%;
            }
        }

        .missions {
            width: 100% !important;
            margin-top: 80px !important;


            .mission {

                h1 {
                    font-size: 40px !important;
                }

                p {
                    margin-top: 0 !important;
                }
            }

            .achives {
                display: grid !important;
                grid-template-columns: 1fr 1fr;

                h1 {
                    font-size: 40px !important;
                }
            }

        }
    }

    .three {
        margin-top: 50px;

        h1 {
            margin-left: 35px;
            margin-right: 35px;

        }

        .offers {
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 10px;
            margin-right: 10px;
        }

        button {
            width: 50% !important;
            font-size: 20px !important;
        }
    }

    .four {
        .courses {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .five {
        .names {
            display: grid;
            grid-template-columns: 1fr;

            .name {
                margin: 0 !important;
            }

            .end {
                margin-left: 40px !important;
            }

            .start {
                margin-right: 40px !important;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .top {
        .links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            a {
                font-size: 20px !important;
            }
        }
    }

    .top .main a {
        margin-left: 10px !important;
    }

    .content {
        h1 {
            margin-top: 0;
            font-size: 28px !important;
        }

        p {
            font-size: 18px !important;
        }

        button {
            margin: 0;
            font-size: 20px !important;
            height: 10% !important;
        }
    }


    .two .all {
        margin-inline: auto;

        .mission {
            width: 90%;
            margin-bottom: 40px;
        }

        .achives {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
        }

    }

    .three {
        .but button {
            width: 50% !important;
            font-size: 20px !important;
        }
    }
}

/* ____________________________ */